In [3]:
import pandas as pd

In [4]:
billboard = pd.read_csv(r'C:/Users/amash/OneDrive/Desktop/cleaningData/billboard.csv')

billboard

,year,artist,track,time,date.entered,wk1,wk2,wk3,wk4,wk5,...,wk67,wk68,wk69,wk70,wk71,wk72,wk73,wk74,wk75,wk76
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22:00 AM,2/26/2000,87,82.0,72.0,77.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,2Ge+her,The Hardest Part Of ...,3:15:00 AM,9/2/2000,91,87.0,92.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,3 Doors Down,Kryptonite,3:53:00 AM,4/8/2000,81,70.0,68.0,67.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,3 Doors Down,Loser,4:24:00 AM,10/21/2000,76,76.0,72.0,69.0,67.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,504 Boyz,Wobble Wobble,3:35:00 AM,4/15/2000,57,34.0,25.0,17.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,2000,Yankee Grey,Another Nine Minutes,3:10:00 AM,4/29/2000,86,83.0,77.0,74.0,83.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,2000,"Yearwood, Trisha",Real Live Woman,3:55:00 AM,4/1/2000,85,83.0,83.0,82.0,81.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,2000,Ying Yang Twins,Whistle While You Tw...,4:19:00 AM,3/18/2000,95,94.0,91.0,85.0,84.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,2000,Zombie Nation,Kernkraft 400,3:30:00 AM,9/2/2000,99,99.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,2000,matchbox twenty,Bent,4:12:00 AM,4/29/2000,60,37.0,29.0,24.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#columns headers should be a value and not a variable
#diplay a column name week with corresponding rating 
# display week with corresponding values

In [5]:
billboard_melt =pd.melt(
    billboard,
    id_vars=['year','artist','track', 'date.entered'],
    var_name = 'week',
    value_name ='rating'
)

In [7]:
#melt consolidate the weeks and rating variable into a single columns
billboard_melt.head()

   year        artist                    track date.entered  week      rating
0  2000         2 Pac  Baby Don't Cry (Keep...    2/26/2000  time  4:22:00 AM
1  2000       2Ge+her  The Hardest Part Of ...     9/2/2000  time  3:15:00 AM
2  2000  3 Doors Down               Kryptonite     4/8/2000  time  3:53:00 AM
3  2000  3 Doors Down                    Loser   10/21/2000  time  4:24:00 AM
4  2000      504 Boyz            Wobble Wobble    4/15/2000  time  3:35:00 AM

In [8]:
#display rows and columns respectively
billboard.shape

(317, 81)